@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);

/* font-family: 'Ubuntu Mono', sans-serif; */

html {
	color: #222;
	font: 14px/1.5 'Ubuntu Mono', sans-serif;
}

body {
	margin: 2rem 1rem 5rem;
}

a {
	color: #0074d9;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}

p, ul, ol, dl, table, pre, blockquote {
	margin-top: 0;
	margin-bottom: 1rem;
}

ul, ol {
	padding-left: 1.5rem;
	list-style-type: none;
}

dd {
	margin-left: 1.5rem;
}

hr {
	border: none;
	margin: 1.5rem 0;
	border-bottom: 1px solid #ccc;
	position: relative;
	top: -1px;
}

table {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

td, th {
	padding: .25rem .5rem;
	border: 1px solid #ccc;
}

pre, code {
	font-family: inherit;
	background-color: #eee;
}

.footer {
	margin-top: 1.5rem;
	border-top: solid 1px #ccc;
}

.footer .contact {
	margin-top: 0.5rem;
	float: left;
	width: 10em;
}

#home ul.posts {
	padding-left: 0;
}